body {
    background-color: #ffffd6;
    background-image: url(images/header_bg.gif);
    background-repeat: repeat-x;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

a:link {
    color: #50260d;
}

a:active {
    color: #50260d;
}

a:visited {
    color: #50260d;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

#header {
    margin: 40px 20px 20px 20px;
    padding: 0px;
}

#header img {
	display: block;
}

#content {
    margin: 0px 20px 20px 20px;
    padding: 0px;
    width: 600px;
    font-family: sans-serif;
}

h1 {
    font-size: 100%;
    font-weight: bold;
}

p {
    font-size: 80%;
}

li {
    font-family: sans-serif;
    font-size: 80%;
}

#footer {
    margin: 0px 20px 10px 20px;
    padding-top: 2px;
    width: 600px;
    border-top: solid 1px black;
    font-family: sans-serif;
    font-size: 70%;
    text-align: center;
}

